@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ton CSS personnalisé */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  font-size: 2rem;
  color: #ff4081; /* Une couleur inspirée de la K-pop */
}

.menu-button {
  margin-right: 10px; /* Décale le bouton menu vers la gauche */
}

.nav-links {
  margin-left: 50px; /* Décale les liens Home, News, Events */
}
